# Игнорировать файл .env и другие файлы с чувствительными данными
.env
.env.local
.env.development
.env.production

# Игнорировать зависимости
node_modules/

# Игнорировать сборочные файлы
dist/
build/

# Игнорировать логи
*.log
npm-debug.log*

# Игнорировать файлы IDE
.vscode/
.idea/

# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать файлы кэша
.cache/

# Игнорировать файлы сборки Vite (если используете Vite)
.vite/

# Игнорировать файлы тестового покрытия
coverage/

# Игнорировать macOS файлы
.DS_Store

# Игнорировать файлы конфигурации npm
.npmrc